include includes/header2.pug

main.container(role="main")
	.row.justify-content-center
		.col-6
			h1.text-center #{recipe.name}
	.row.justify-content-center
		.col-6
			img.img-fluid(src="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-974097999386/pictures/" + recipe.pic alt="Picture of " + recipe.name)
	.row.justify-content-center
		.col-6
			p.lead.text-center
				| #{recipe.desc}

	.row.justify-content-center
		.col-8.border
			.row.justify-content-center.py-0.mt-2.mb-0
				p.font-weight-bold.text-center.mb-0 Serves: #{recipe.serves}
			.row.justify-content-center.py-0.mt-0
				p.font-weight-bold.text-center.mb-0 Difficulty: #{recipe.difficulty}
			.row.justify-content-center.py-0.mt-0
				p.font-weight-bold.text-center Cook Time: #{recipe.time}
			.row.justify-content-center.py-0
				p.text-center #{recipe.extended_desc}
	.row.justify-content-center
		.col-8
			h3.text-center Ingredients:
			.list-group#ingredients.text-center
				each ingredient in recipe.ingredients.replace(/\[\"|\"\]|/g, "").split('\",\"')
					.list-group-item #{ingredient}
			.row.justify-content-center
				.alert.alert-warning#eggAlert(role="alert") Note: Recipe now calls for half an egg. Try weighing it and discarding half the weight, or use about two tablespoons of the mixture. Whole eggs should be beaten first.
				.custom-control.custom-radio.mr-4
					input#singleBatch.custom-control-input(type="radio" name="batchRadios" checked="")
					label.custom-control-label(for="singleBatch") Single Batch
				.custom-control.custom-radio.mr-4
					input#halfBatch.custom-control-input(type="radio" name="batchRadios")
					label.custom-control-label(for="halfBatch") Half Batch
				.custom-control.custom-radio
					input#doubleBatch.custom-control-input(type="radio" name="batchRadios")
					label.custom-control-label(for="doubleBatch") Double Batch

	.row.justify-content-center
		.col-8
			h3 Directions:
			ol#directions
				each step in recipe.steps.replace(/\[\"|\"\]|/g, "").split('\",\"')
					li #{step}
	a(data-pin-do="buttonPin" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/?url=" + fullurl + "&media=" + recipe.pic + "&description=" + recipe.name)
	#last-item.row.justify-content-center
		a.btn.btn-sm.btn-dark(role="button" href="/recipe/all") All Recipes
script(async="" defer="" src="//assets.pinterest.com/js/pinit.js")
script(src="../js/scale_recipe.js")
